@import url('https://fonts.googleapis.com/css?family=Dancing+Script|EB+Garamond:400,400i,700,700i|Permanent+Marker&display=swap');


body {
  color: #d6d6d6;
  background-color: black;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  text-align: center;
}

.main-display {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.main-pic {
  height: 380px;
  width: auto;
}

 h1 {
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.main-text h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin-bottom: 10px;
}

.main-text p {
  font-size: 20px;
  margin: auto;
  max-width: 90%
}

.main-text p:first-of-type {
  margin-top: 30px;
}

.main-text p:first-of-type + p {
  margin-bottom: 50px;
}

.front-page {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "text image"; */
}

.main-pic{
  grid-area: image;
}

.main-text {
  grid-area: text;
  margin: auto;
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.legacy-pic {
  height: 380px;
  width: auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*---------------------------------  */
/* LEGACY PAGE*/
/*---------------------------------  */

.legacy-main p:first-of-type {
  margin-top: 20px;
}

/*---------------------------------  */
/* TIMELINE STYLES */
/*---------------------------------  */

.timeline-heading {
  margin-top: 50px;
  margin-bottom: 60px;
}

.timeline-div {
  background-color: #d6d6d6;
  border-radius: 5px;
  color: black;
  display: grid;
  margin-top: 40px;
  padding: 20px;
  grid-template-areas:
    "time-nav"
    "time-info";
}

.timeline-nav {
  grid-area: time-nav;
  margin-right: 10px;
}

.timeline-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.timeline-nav li {
  margin-right: 20px;
  margin-bottom: 5px;
}

.year-info {
  grid-area: time-info;
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.year-info h2 {
  margin-top: 15px;
}

/*---------------------------------  */
/* MEDIA QUERIES*/
/*---------------------------------  */

@media (min-width: 768px) {

  body {
    font-size: 22px;
  }

  header li {
    margin-right: 20px;
  }

  .front-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "text image";
  }

  .main-pic {
    height: 600px;
    width: auto;
  }

  .timeline-div {
    display: grid;
    margin-top: 40px;
    padding: 30px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "time-nav time-info";
  }

  .timeline-nav ul {
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }

  .timeline-nav li {
    margin-bottom: 30px;
  }

  .timeline-pic {
    border-radius: 5px;
  }

}

@media (min-width: 1024px) {
  .timeline-div {
    padding: 50px;
  }

  .year-info {
    max-width: 80%;
  }

  .timeline-nav li {
    margin-bottom: 40px;
  }
}
